
<ion-content class="content">
  
    <div class="logo">
      <h1>Soho</h1>
    </div>
    <div class="inputs">
      <div class="centerInputs">
        <form action="">
          <input type="text" name="username" class="namePassword" required placeholder="username">  
          <br> <br>
          <input type="password" name="password" class="namePassword" required placeholder="password" >
          <br><br>
          <input (click)=" openPage() " type="button" class="namePassword" value="Log In" style="background-color: #0583d2; border: none; color:white ;">  
        </form>
      </div>
      
    </div>
  
</ion-content>
