<ion-header>
  <ion-toolbar>
    <ion-title>details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br>
  <table>
    <tr>
      <td><b>Alici</b> </td> 
      <td> dlsmv</td>
    </tr>
    <tr>
      <td><b>Gonderici</b> </td>
      <td></td>
    </tr>
    <tr>
      <td><b>  Miktar</b></td>
      <td></td>
    </tr>
    <tr>
      <td> <b>Tarih</b></td>
      <td></td>
    </tr>
    <tr>
      <td><b>Saat</b> </td>
      <td></td>
    </tr>
    <tr>
      <td><b>Procent</b></td>
      <td></td>
    </tr>
    <tr>
      <td><b>  Kur </b></td>
      <td></td>
    </tr>
    <tr>
      <td><b>Valuta</b> </td>
      <td></td>
    </tr>
  </table>
</ion-content>
